.about-slider {
    position: relative;
    padding: 80px 0 100px 0;
    margin-bottom: 20px;
    z-index: 5;
    overflow: hidden;
    .title {
        position: relative;
        line-height: 120%;
        margin-bottom: 60px;
        text-align: center;
    }
    .title::after {
        content: '';
        display: block;
        width: 132px;
        height: 2px;
        background: #F1D399;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -24px;
    }
    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
        width: 71%;
        margin: 0 auto;
        margin-bottom: 25px;
        text-align: center;
    }
}

.slider-about {
    max-width: 1170px;
    width: 100%;
    position: relative;
    z-index: 5;
    .slick-prev,
    .slick-next {
        background-color: rgba(0, 0, 0, 0.4);
        width: 72px;
        height: 72px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 2;
        top: 50%;
    }
    .slick-prev:hover,
    .slick-next:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
    .slick-prev::before,
    .slick-next::before {
        content: none;
    }
    .slick-next {
        background-image: url(../img/svg/arr-next.svg);
        background-position: center;
        background-repeat: no-repeat;
        right: -16px;
    }
    .slick-prev {
        background-image: url(../img/svg/arr-prev.svg);
        background-position: center;
        background-repeat: no-repeat;
        left: -16px;
    }
}

.slider-about-thumbs {
    max-width: 98px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
    .slick-track {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 15px;
        height: 29px;
    }
}

.slider-about-thumbs__item {
    cursor: pointer;
    width: 4px;
    height: 4px;
    background: #B8A095;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 8px;
    outline: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.slider-about-thumbs__item.slick-active {
    width: 6px;
    height: 6px;
    margin: 0 5px;
}

.slider-about-thumbs__item.slick-current {
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border: 2px solid #8B5A45;
    box-sizing: border-box;
    box-shadow: 0px 5px 9px rgba(125, 77, 56, 0.29);
}

.slider-about-thumbs__item.slick-center {}

.slider-about__item {
    max-width: 1170px;
    width: 100%;
    height: 512px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
}

.about-slider-decor {
    max-width: 1703px;
    width: 100%;
    height: 785px;
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../img/slider-decor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

@media screen and (max-width: 1580px) {
    .about-slider-box {
        right: -400px;
        width: 100%;
    }
}

@media screen and (max-width: 1420px) {
    .about-slider {
        position: relative;
        padding: 50px 50px 100px 50px;
        margin-bottom: 20px;
    }
    .about-slider p {
        width: 100%;
    }
    .about-slider-box {
        top: 0;
        right: initial;
        left: 0;
    }
    .slider-about-top {
        position: absolute;
        right: 0;
    }
    .slider-about-bottom {
        position: absolute;
        left: 0;
        top: 0;
    }
    .about-slider-box::after {
        content: none;
    }
    .slider-about-top {
        max-width: 450px;
        width: 100%;
        left: 50%;
    }
    .slider-about-bottom {
        max-width: 450px;
        width: 100%;
        right: 50%;
        left: initial;
    }
    .slider-about-top__item {
        max-width: 450px;
        width: 100%;
        height: 461px;
    }
    .slider-about-bottom__item {
        max-width: 450px;
        width: 100%;
        height: 461px;
    }
    .slider-about-top .slick-prev,
    .slider-about-top .slick-next {
        background-color: #fcfafa;
    }
    .slider-about-top .slick-prev {
        right: 110%;
        left: initial;
    }
    .slider-about-top .slick-next {
        left: 10%;
        right: initial;
    }
    .about-slider-decor {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .about-slider {
        padding: 50px 20px 100px 20px;
    }
    .slider-about__item {
        height: 450px;
    }
}

@media screen and (max-width: 920px) {
    .about-slider {
        padding: 50px 20px 50px 20px;
    }
}

@media screen and (max-width: 768px) {
    .slider-about__item {
        height: 320px;
    }
}

@media screen and (max-width: 550px) {
    .slider-about {
        max-width: initial;
        width: initial;
        position: relative;
        margin: 0 -30px;
    }
    .slider-about .slick-prev,
    .slider-about .slick-next {
        width: 40px;
        height: 40px;
    }
    .slider-about__item {
        height: 254px;
    }
    .slider-about .slick-next {
        background-image: url(../img/svg/arr-next-mob.svg);
        background-position: 17px center;
        background-repeat: no-repeat;
    }
    .slider-about .slick-prev {
        background-image: url(../img/svg/arr-prev-mob.svg);
        background-position: 16px center;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 475px) {
    .slider-about .slick-prev {
        left: -2px;
    }
    .slider-about .slick-next {
        right: -2px;
    }
    .about-slider {
        padding: 28px 10px 26px 10px;
        overflow: hidden;
        margin-bottom: 44px;
    }
    .slider-about-top__item {
        max-width: 100%;
        width: 100%;
        height: 253px;
    }
    .slider-about-top {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .about-slider .title {
        font-weight: 800;
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 35px;
    }
    .about-slider .title::after {
        width: 68px;
        bottom: -11px;
    }
    .slider-about-thumbs {
        margin-top: 18px;
        margin-bottom: 4px;
    }
    .about-slider p {
        line-height: 124%;
        margin-bottom: 18px;
    }
    .about-slider:after {
        content: '';
        display: block;
        max-width: 35px;
        width: 100%;
        height: 362px;
        background: url(../img/about-slider-decor.png) no-repeat center;
        background-size: cover;
        position: absolute;
        top: 11px;
        right: 0;
        z-index: -1;
    }
}