#cooperation-vn__scene {
    height: 450px;
}

.cooperation-vn-oblako img {
    max-width: 626px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.cooperation-vn-cat img {
    max-width: 537px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}