.contacts-box {
    position: relative;
    padding: 266px 0 553px 366px;
    z-index: 5;
    overflow: hidden;
    .title {
        margin-bottom: 26px;
    }
    a {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        color: #613A2D;
    }
}

#contacts-box__scene {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.address {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #613A2D;
    margin-bottom: 24px;
}

.social-contacts {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #613A2D;
    margin-bottom: 23px;
}

.mail-img img {
    max-width: 564px;
    position: absolute;
    top: 213px;
    right: 418px;
}

.contacts-oblako-img img {
    max-width: 953px;
    position: absolute;
    top: 33px;
    right: 100px;
}

.contacts-decor img {
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.contacts-box-img-mob {
    display: none;
    background: url(../img/mail-mob.png) no-repeat right center;
    background-size: contain;
    max-width: 488px;
    width: 100%;
    height: 291px;
    float: right;
}

@media screen and (max-width: 1860px) {
    .contacts-box {
        padding: 266px 0 553px 208px;
    }
}

@media screen and (max-width: 1700px) {
    // .mail-img {
    //     max-width: 650px;
    //     width: 100%;
    //     height: 554px;
    //     top: 0;
    // }
    .contacts-oblako-img img {
        max-width: 650px;
    }
    .contacts-box {
        padding: 130px 0 325px 208px;
    }
    .contacts-decor {
        height: 595px;
    }
    .mail-img img {
        max-width: 318px;
        position: absolute;
        top: 205px;
        right: 366px;
    }
    .contacts-decor img {
        top: 0;
    }
}

@media screen and (max-width: 1440px) {
    .contacts-box {
        padding: 130px 50px 325px 50px;
    }
}

@media screen and (max-width: 1360px) {
    .contacts-decor {
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    // .mail-img {
    //     max-width: 450px;
    //     width: 100%;
    //     height: 383px;
    //     top: 56px;
    //     right: 0;
    // }
    .contacts-oblako-img img {
        right: 0;
    }
    .mail-img img {
        right: 250px;
    }
}

@media screen and (max-width: 950px) {
    .mail-img {
        top: 248px;
        right: -55px;
    }
    .contacts-box {
        padding: 100px 20px 375px 20px;
    }
}

@media screen and (max-width: 700px) {
    .contacts-box-img-mob {
        display: block;
        margin-right: -20px;
    }
    #contacts-box__scene {
        display: none;
    }
    .contacts-box {
        padding: 100px 20px 135px 20px;
    }
}

@media screen and (max-width: 575px) {
    .mail-img {
        max-width: 320px;
        width: 100%;
        height: 291px;
        top: 248px;
        right: 0;
        background: url(../img/mail-mob.png) no-repeat center;
        background-size: cover;
    }
}

@media screen and (max-width: 475px) {
    .contacts-box .title {
        margin-bottom: 17px;
    }
    .address {
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 14px;
    }
    .social-contacts {
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 12px;
    }
    .contacts-box a {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
    }
    .mail-img {
        top: 218px;
    }
    .contacts-box {
        padding: 100px 20px 369px 20px;
    }
    .contacts-box::after {
        content: '';
        display: block;
        max-width: 241px;
        width: 100%;
        height: 491px;
        background: url(../img/mob-decor5.png) no-repeat center;
        background-size: cover;
        position: absolute;
        top: 79px;
        left: 34px;
        z-index: -1;
    }
    .contacts-box-img-mob {
        float: none;
        bottom: 107px;
        margin: 0;
        position: absolute;
        right: 0;
    }
}