$font-base: 'Montserrat',
sans-serif;
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
html {}

body {
    font-family: $font-base;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
    overflow-y: visible;
    overflow-x: hidden;
}

div,
a,
section,
button,
header,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    font-weight: normal;
    font-size: 18px;
    line-height: 124%;
    color: #603320;
    margin: 0 0 21px 0;
}

input {
    display: block;
    width: 100%;
    background: #FFFFFF;
    height: 42px;
    border: 1px solid #E5DFDC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 14px;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #613A2D;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 0 0 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    font-weight: 800;
    font-size: 36px;
    line-height: 105%;
    text-transform: uppercase;
    color: #603320;
    margin-bottom: 20px;
}

.desc {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

// .wrapper {
//     position: relative;
//     background: url(../img/decore.png) no-repeat center 80px;
//     background-size: contain;
//     z-index: 1;
// }
.container {
    max-width: 1430px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}


/*
      B U T T O N S
  */

a.link {
    display: block;
    width: fit-content;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #603320;
    padding: 0 0 0 0;
    position: relative;
}

a.link::after {
    content: '';
    display: block;
    width: 9px;
    height: 15px;
    background: url(../img/svg/arr-link.svg) no-repeat center;
    position: absolute;
    top: 1px;
    right: -27px;
}

.btn {
    display: block;
    background: #F9E1CD;
    border-radius: 12px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    line-height: 100%;
    color: #603320;
    padding: 12px 0 15px 0;
}

.btn:hover {
    background: #F8CDA8;
}

.ov-h {
    overflow: hidden;
}

.ov-h body {
    margin-right: 17px;
}

.clear {
    display: table;
    clear: both;
}

@media screen and (max-width: 992px) {
    html {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 760px) {
    .title {
        font-size: 28px;
    }
}

@media screen and (max-width: 550px) {
    p,
    a.link {
        font-size: 16px!important;
    }
    .cooperation-main .link::after {
        top: 0;
    }
}

@media screen and (max-width: 475px) {
    .title {
        font-size: 24px!important;
    }
}