.partners-items {
    padding: 194px 430px 84px 430px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    a {
        display: block;
        margin: 0 25px;
        margin-bottom: 105px;
    }
}