.partners-top {
    padding: 140px 350px 89px 322px;
    position: relative;
    z-index: 5;
    p a {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        color: #613A2D;
    }
    .title {
        margin-bottom: 32px;
    }
}

#partners-top__scene {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#partners-top__scene .cooperation-vn-oblako img {
    left: 318px;
    top: 116px;
    right: initial;
    margin: initial;
}

#partners-top__scene .cooperation-vn-cat img {
    left: 439px;
    top: 160px;
    right: initial;
    margin: initial;
}

.partners-top-img {
    max-width: 643px;
    width: 100%;
    height: 505px;
    background: url(../img/cooperation-vn-img.png) no-repeat center;
    background-size: cover;
}

.btn.btn-doc {
    max-width: 308px;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 32px;
    margin-top: 32px;
    background: #F1E6E2;
    padding: 11px 0 11px 0;
    i {
        width: 13px;
        height: 16px;
        display: inline-block;
        vertical-align: top;
        background: url(../img/svg/pdf.svg) no-repeat center;
        margin-right: 11px;
    }
    b {
        font-weight: 700;
    }
}

.partners-top-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.partners-top__left {
    width: 55%;
}

.partners-top__right {
    width: 45%;
    padding: 25px 0 0 33px;
}

.partners-decor {}

.partners-decor img {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: 0 auto;
}

.partners-top-img-mob {
    display: none;
    background: url(../img/cooperation-vn-img-mob.png) no-repeat center;
    background-size: cover;
    max-width: 600px;
    height: 482px;
}

@media screen and (max-width: 1810px) {
    .partners-top {
        padding: 115px 100px 89px 100px;
    }
}

@media screen and (max-width: 1750px) {
    .partners-top #partners-top__scene .cooperation-vn-oblako img {
        left: 118px;
    }
    .partners-top #partners-top__scene .cooperation-vn-cat img {
        left: 239px;
    }
}

@media screen and (max-width: 1400px) {
    .partners-top #partners-top__scene .cooperation-vn-oblako img {
        left: 35px;
    }
    .partners-top #partners-top__scene .cooperation-vn-cat img {
        left: 100px;
    }
}

@media screen and (max-width: 1350px) {
    .partners-top {
        padding: 115px 20px 89px 20px;
    }
}

@media screen and (max-width: 1200px) {
    #partners-top__scene {
        position: static;
    }
    .partners-top #partners-top__scene .cooperation-vn-oblako img {
        position: static;
        margin: 0 auto;
    }
    .partners-top #partners-top__scene .cooperation-vn-cat img {
        position: static;
        margin: 0 auto;
    }
    .partners-top-box {
        flex-direction: column;
    }
    .partners-top .title {
        text-align: center;
    }
    .partners-top__right {
        width: 100%;
        padding: 0 0 0 0;
    }
    .btn.btn-doc {
        margin: 0 auto;
        margin-bottom: 34px;
    }
    .partners-top p {
        text-align: center;
    }
    .partners-top p a {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        margin-top: 16px;
    }
    .partners-decor {
        display: none;
    }
    .partners-top-img {
        max-width: 450px;
        width: 100%;
        height: 360px;
        margin: 0 auto;
    }
    .partners-top__left {
        width: 100%;
    }
    .partners-top {
        padding: 37px 20px 39px 20px;
    }
}

@media screen and (max-width: 992px) {
    .partners-top-img-mob {
        display: block;
        margin: 0 auto;
    }
    .partners-top #partners-top__scene {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    .partners-top-img-mob {
        max-width: 300px;
        height: 241px;
        position: relative;
        z-index: -1;
        margin-bottom: 17px;
    }
}

@media screen and (max-width: 575px) {
    .btn.btn-doc {
        max-width: 263px;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        padding: 10px 0 9px 0;
    }
    .btn.btn-doc i {
        margin-top: -2px;
    }
}

@media screen and (max-width: 500px) {
    .partners-top-img {
        max-width: 300px;
        width: 100%;
        height: 241px;
        background: url(../img/cooperation-vn-img-mob.png) no-repeat center;
        background-size: cover;
        margin-bottom: 17px;
        position: relative;
        z-index: -2;
    }
    .partners-top .title {
        margin-bottom: 21px;
    }
    .partners-top p {
        margin-bottom: 17px;
    }
    .btn.btn-doc {
        margin-top: 34px;
    }
}

@media screen and (max-width: 475px) {
    .partners-top::after {
        content: '';
        display: block;
        max-width: 275px;
        width: 100%;
        height: 776px;
        background: url(../img/partners-decor-mob.png) no-repeat center;
        background-size: cover;
        position: absolute;
        top: 23px;
        left: 23px;
        z-index: -1;
    }
}