.production-main {
    padding: 486px 0 468px 390px;
    background: #F6F6F6;
    position: relative;
    .title {
        margin-bottom: 33px;
    }
    p {
        width: 28%;
        margin-bottom: 33px;
    }
}

.production-main:before {
    content: '';
    display: block;
    width: 100%;
    height: 425px;
    background: url(../img/cont-decor.png) no-repeat center;
    position: absolute;
    background-size: cover;
    top: -216px;
    right: 0;
    left: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.production-main:after {
    content: '';
    display: block;
    width: 100%;
    height: 425px;
    background: url(../img/cont-decor.png) no-repeat center;
    position: absolute;
    background-size: cover;
    bottom: -216px;
    right: 0;
    left: 0;
}

.about-wrap .production-main {
    padding: 486px 0 616px 390px;
}

.about-wrap .production-main:after {
    bottom: -36px;
}

.main-peod-img {
    position: absolute;
    top: 225px;
    right: -8px;
    max-width: 1157px;
    width: 100%;
    height: 774px;
    background: url(../img/prod-img-main.png) no-repeat center;
    background-size: cover;
}

.leaf {
    position: absolute;
    top: 126px;
    right: 172px;
    width: 82px;
    height: 103px;
    background: url(../img/leaf1.png) no-repeat center;
}

@media screen and (max-width: 1800px) {
    .production-main {
        padding: 486px 0 468px 240px;
    }
    .about-wrap .production-main {
        padding: 486px 0 665px 240px;
    }
}

@media screen and (max-width: 1570px) {
    .production-main {
        padding: 486px 0 468px 100px;
    }
    .about-wrap .production-main {
        padding: 486px 0 635px 100px;
    }
}

@media screen and (max-width: 1440px) {
    .production-main,
    .about-wrap .production-main {
        padding: 486px 0 468px 50px;
    }
    .main-peod-img {
        max-width: 900px;
        width: 100%;
        height: 602px;
        background-size: contain;
    }
}

@media screen and (max-width: 1150px) {
    .main-peod-img {
        max-width: 600px;
        width: 100%;
        height: 401px;
    }
    .main-peod-img {
        top: 148px;
    }
    .production-main {
        padding: 245px 0 265px 50px;
    }
    .about-wrap .production-main {
        padding: 245px 0 450px 50px;
    }
    .leaf {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .production-main {
        padding: 128px 20px 150px 20px;
    }
    .about-wrap .production-main {
        padding: 128px 20px 450px 20px;
    }
    .production-main:before {
        top: -300px;
    }
    .production-main p {
        width: 100%;
    }
    .main-peod-img {
        position: static;
        float: right;
        margin-right: -20px;
    }
    .production-main:after {
        bottom: -300px;
    }
}

@media screen and (max-width: 475px) {
    .main-peod-img {
        max-width: 300px;
        width: 100%;
        height: 200px;
        background-size: cover;
    }
    .production-main {
        padding: 128px 20px 310px 20px;
    }
    .about-wrap .production-main {
        padding: 128px 20px 550px 20px;
    }
    .production-main:before {
        top: -25px;
        height: 105px;
        background-size: contain;
    }
    .about-wrap .production-main:after {
        bottom: -55px;
        height: 105px;
        background-size: contain;
    }
    .production-main:after {
        bottom: -55px;
        height: 105px;
        background-size: contain;
    }
    .about-wrap .production-main {
        padding: 128px 20px 80px 20px;
    }
    .production-main {
        padding: 128px 20px 80px 20px;
    }
}