.production-main {
    padding: 334px 0 503px 366px;
    background: #fff;
    position: relative;
    z-index: 4;
    .title {
        margin-bottom: 33px;
    }
    p {
        width: 28%;
        margin-bottom: 31px;
    }
    .btn {
        max-width: 214px;
    }
}

#production-main__scene {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.about-wrap .production-main {
    padding: 252px 0 453px 366px;
    z-index: 4;
}

.main-peod-img img {
    max-width: 1157px;
    position: absolute;
    top: 73px;
    right: -10px;
}

.about-wrap .main-peod-img {
    top: 20px;
}

.leaf {
    position: absolute;
    top: 126px;
    right: 172px;
    width: 82px;
    height: 103px;
    background: url(../img/leaf1.png) no-repeat center;
}

.production-decor img {
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.about-wrap .production-decor {
    display: none;
}

.img-prod-main-mob {
    display: none;
}

@media screen and (max-width: 1800px) {
    .production-main {
        padding: 369px 0 468px 240px;
    }
    .about-wrap .production-main {
        padding: 486px 0 665px 240px;
    }
}

@media screen and (max-width: 1570px) {
    .production-main {
        padding: 369px 0 369px 100px;
    }
    .about-wrap .production-main {
        padding: 369px 0 369px 100px;
    }
}

@media screen and (max-width: 1440px) {
    .production-main,
    .about-wrap .production-main {
        padding: 286px 0 268px 50px;
    }
    // .main-peod-img {
    //     width: 100%;
    //     height: 602px;
    //     background-size: cover;
    // }
    .main-peod-img img {
        max-width: 806px;
        position: absolute;
        top: 87px;
        right: -10px;
    }
    .main-peod-img {
        background-position: right center;
    }
}

@media screen and (max-width: 1360px) {
    // .production-decor {
    //     display: none;
    //     opacity: 0;
    //     overflow: hidden;
    // }
}

@media screen and (max-width: 1150px) {
    // .main-peod-img {
    //     max-width: 600px;
    //     width: 100%;
    //     height: 401px;
    //     top: 0;
    // }
    .production-main {
        padding: 25px 0 50px 50px;
    }
    .about-wrap .production-main {
        padding: 25px 0 50px 50px;
    }
    .leaf {
        display: none;
    }
    .main-peod-img img {
        max-width: 440px;
        position: absolute;
        top: 4px;
        right: -10px;
    }
}

@media screen and (max-width: 992px) {
    #production-main__scene {
        position: static;
    }
    .production-decor {
        display: none;
    }
    .production-main {
        padding: 30px 20px 235px 20px;
    }
    .about-wrap .production-main {
        padding: 30px 20px 150px 20px;
    }
    .production-main p {
        width: 100%;
    }
    .main-peod-img {
        position: static;
        float: right;
        margin-right: -20px;
    }
    .img-prod-main-mob {
        display: block;
    }
    .img-prod-main-desk {
        display: none;
    }
    .main-peod-img img {
        max-width: 320px;
        top: 147px;
        right: 0;
    }
}

@media screen and (max-width: 600px) {
    // .main-peod-img {
    //     max-width: 320px;
    //     width: 115%;
    //     height: 335px;
    //     background: url(../img/prod-img-main-mob.png) no-repeat center;
    //     background-size: cover;
    // }
}

@media screen and (max-width: 475px) {
    .production-main {
        padding: 19px 20px 355px 20px;
    }
    .about-wrap .production-main {
        padding: 19px 20px 355px 20px;
    }
    .production-main .title {
        margin-bottom: 21px;
    }
    .main-peod-img img {
        top: 267px;
    }
    .production-main .btn {
        max-width: 194px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        padding: 14px 0 14px 0;
        margin-bottom: 23px;
    }
    .production-main p {
        margin-bottom: 19px;
    }
    .production-main::after {
        content: '';
        display: block;
        max-width: 240px;
        width: 100%;
        height: 719px;
        background: url(../img/mob-decor3.png) no-repeat center;
        background-size: cover;
        position: absolute;
        top: -64px;
        left: 38px;
        z-index: -1;
    }
    .about-wrap .production-main::after {
        content: '';
        display: block;
        max-width: 274px;
        width: 100%;
        height: 368px;
        background: url(../img/about-decor-mob2.png) no-repeat center;
        background-size: cover;
        position: absolute;
        top: 246px;
        left: 28px;
        z-index: -1;
    }
}