.main-top {
    position: relative;
    padding: 268px 0 380px 366px;
    // background: url(../img/top-decor.png) no-repeat center;
    overflow: hidden;
    z-index: 6;
    .title {
        margin-bottom: 32px;
        line-height: 120%;
    }
    p {
        width: 42%;
    }
    .btn {
        max-width: 186px;
        margin-top: 32px;
    }
    .grass-img {
        width: 195px;
        height: 152px;
        position: absolute;
        bottom: 142px;
        left: 333px;
        background: url(../img/grass-img.png) no-repeat center;
        background-size: cover;
    }
}

.top-img {
    position: absolute;
    top: 134px;
    right: -8px;
    max-width: 945px;
    width: 100%;
    height: 773px;
    background: url(../img/top-img.png) no-repeat center;
    background-size: cover;
    z-index: -1;
}

.top-decor {
    max-width: 1646px;
    width: 100%;
    height: 896px;
    position: absolute;
    top: 79px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../img/decor1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

@media screen and (max-width: 1860px) {
    .main-top {
        padding: 183px 0 357px 208px;
    }
    .top-img {
        right: -20px;
    }
}

@media screen and (max-width: 1570px) {
    .main-top {
        padding: 183px 25px 357px 100px;
    }
}

@media screen and (max-width: 1440px) {
    .main-top {
        padding: 183px 25px 357px 50px;
        background-size: contain;
    }
    .top-img {
        max-width: 650px;
        width: 100%;
        height: 599px;
        background-size: contain;
    }
}

@media screen and (max-width: 1160px) {
    .main-top {
        background: none;
        padding: 75px 25px 75px 50px;
    }
    .top-img {
        top: 63px;
    }
}

@media screen and (max-width: 992px) {
    .main-top {
        padding: 45px 20px 5px 20px;
    }
}

@media screen and (max-width: 950px) {
    .main-top p {
        width: 100%;
    }
    .top-img {
        position: static;
        max-width: 450px;
        width: 100%;
        height: 414px;
        background-size: contain;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 475px) {
    .top-img {
        max-width: 300px;
        width: 100%;
        height: 300px;
        background-size: cover;
    }
}