.main-top {
    position: relative;
    padding: 183px 0 357px 408px;
    background: url(../img/top-decor.png) no-repeat center;
    z-index: 5;
    .title {
        margin-bottom: 37px;
    }
    p {
        width: 38%;
    }
    .btn {
        max-width: 186px;
        margin-top: 42px;
    }
}

.top-img {
    position: absolute;
    top: 114px;
    right: 79px;
    max-width: 923px;
    width: 100%;
    height: 849.55px;
    background: url(../img/top-img.png) no-repeat center;
    background-size: cover;
    z-index: -1;
}

@media screen and (max-width: 1860px) {
    .main-top {
        padding: 183px 0 357px 208px;
    }
    .top-img {
        right: -20px;
    }
}

@media screen and (max-width: 1570px) {
    .main-top {
        padding: 183px 25px 357px 100px;
    }
}

@media screen and (max-width: 1440px) {
    .main-top {
        padding: 183px 25px 357px 50px;
        background-size: contain;
    }
    .top-img {
        max-width: 650px;
        width: 100%;
        height: 599px;
        background-size: contain;
    }
}

@media screen and (max-width: 1160px) {
    .main-top {
        background: none;
        padding: 75px 25px 75px 50px;
    }
    .top-img {
        top: 63px;
    }
}

@media screen and (max-width: 992px) {
    .main-top {
        padding: 45px 20px 5px 20px;
    }
}

@media screen and (max-width: 950px) {
    .main-top p {
        width: 100%;
    }
    .top-img {
        position: static;
        max-width: 450px;
        width: 100%;
        height: 414px;
        background-size: contain;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 475px) {
    .top-img {
        max-width: 300px;
        width: 100%;
        height: 300px;
        background-size: cover;
    }
}