.about-main {
    padding: 170px 0 432px 0;
    position: relative;
    z-index: 5;
    .title {
        margin-bottom: 48px;
    }
    .btn {
        max-width: 200px;
    }
}

.about-main__box-info {
    float: right;
    width: 49.25%;
    padding: 0 340px 0 0;
    .btn {
        margin-top: 26px;
    }
}

.about-main-img {
    position: absolute;
    left: -9px;
    top: 67px;
    max-width: 1156px;
    width: 100%;
    height: 757px;
    background: url(../img/about-img-main.png) no-repeat center;
    z-index: -1;
}

@media screen and (max-width: 1860px) {
    .about-main-img {
        left: -60px;
    }
    .about-main__box-info {
        float: right;
        width: 38.25%;
        padding: 0 50px 0 0;
    }
}

@media screen and (max-width: 1440px) {
    .about-main-img {
        max-width: 900px;
        width: 100%;
        top: 117px;
        height: 590px;
        background-size: contain;
    }
    .about-main__box-info {
        width: 44%;
    }
}

@media screen and (max-width: 1250px) {
    .about-main-img {
        max-width: 600px;
        height: 397px;
        left: -25px;
        top: 50%;
        transform: translateY(-65%);
        -webkit-transform: translateY(-65%);
        -moz-transform: translateY(-65%);
        -ms-transform: translateY(-65%);
        -o-transform: translateY(-65%);
    }
    .about-main {
        padding: 0 0 140px 0;
    }
}

@media screen and (max-width: 992px) {
    .about-main__box-info {
        width: 100%;
        float: none;
        padding: 0;
    }
    .about-main {
        padding: 35px 20px 50px 20px;
        display: flex;
        flex-direction: column-reverse;
    }
    .about-main-img {
        position: static;
        margin: 0 auto;
        margin-top: 25px;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@media screen and (max-width: 475px) {
    .about-main-img {
        max-width: 300px;
        width: 100%;
        height: 197px;
        background-size: cover;
    }
}